- var imports = require('./entry/imports');

doctype html
html
  head
    include ./entry/commonHead
    meta(name='description' content='展示一个月内的地下偶像的主办活动的信息')
    title 各大城市地下偶像主办活动汇总
  body
    div#app
    script
      | globalThis.__INITIAL__STATE__ = {{ initial_state | safe }};

    if htmlWebpackPlugin.options.mode === 'development'
      script(src=imports.dll)